.headertop h1{
  font-size: 28px
}
.header h1{
  display: none;
}
.top{
  display: none;
}
nav{
  display: none;
}
#footer1{
  display: none;
}
#footer2{
  display: none;
}
#footer3{
  display: none;
}
#footer4{
  display: none;
}
#footer5{
  display: none;
}
#footer6{
  display: none;
}
#top1{
  display: none;
}
#top2{
  display: none;
}
#toph{
  display: none;
}
#top3{
  display: none;
}
h2{
  display: none;
}