body{
  margin-top: 0;
  margin-bottom:0;
  background-color: #EFF4F7;
  position: relative;
}
h2{
  padding-left: 1%;
  font-family: Arial;
  font-size: 40px;
  color: #EFF4F7;
}
h3{
  padding-left: 1%;
  text-align: center;
  font-size: 16px;
  color: #EFF4F7;
}
#body a { 
  font-weight: bold; 
  text-decoration: none; 
  color: #336699 ;
  }
#body a:visited { 
  font-weight: bold; 
  text-decoration: none; 
  color: #C0C0C0 ;
  }
#body a:hover, a:focus, a:active { 
  text-decoration: underline; 
  color: #9685BA;
  }
#body{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

div.headertop{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex-1;
  float:left;
  height: 30px;
}
.headertop h1{
  visibility: hidden;
}
#headertop1{
  background-color: #6DD0F2;
  width: 5%;
}
#headertop2{
  background-color: #363A42;
  width: 95%;
  color: #EFF4F7;
  background: linear-gradient(top, #363A42 0%, #696969 100%);  
  background: -moz-linear-gradient(top, #363A42 0%, #696969 100%); 
  background: -webkit-linear-gradient(top, #363A42 0%,#696969 100%); 
}

div.header{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex-1;
  float:left;
  height: 150px;
}
#header3 h1{
  font-size: 25px;
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: Arial;
  color: #555555;

}
#header4 h1{
  font-size: 25px;
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial;
  color: #555555;
  text-align: center;

}
.header h1{
  font-size: 38px;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
.header h2{
  font-size: 28px; 
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
}
.header p{
  margin-top:20px;
}
#header1{
  background-color: #6DD0F2;
  width: 5%;
}
#header2{
  background-color: #363A42;
  width: 25%;
  color: #EFF4F7;
}
#header3{
  background-color: #F59ABE;
  width: 17.5%;
}
#header4{
  background-color: #FFD966;
  width: 35%;
}
#header6{
  background-color: #363A42;
  width: 17.5%;
}

div.top{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex-1;
  position: relative;
  margin-top: 0px;
  float:left;
}
#top1{
  background-color: #6DD0F2;
  width: 5%;
  height: 60px;
}
#top2{
  font-family: "Century Gothic", Verdana, Arial, Sans-Serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 77.5%;
  height: 60px;
  background: #363A42;  
  background: linear-gradient(top, #363A42 0%, #696969 100%);  
  background: -moz-linear-gradient(top, #363A42 0%, #696969 100%); 
  background: -webkit-linear-gradient(top, #363A42 0%,#696969 100%); 
}
#top2 ul ul {
  display: none;
}

#top2 ul li:hover > ul {
  display: block;
}
#top2 ul {
  background: #363A42;  
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  position: relative;
  display: inline-table;
  background: linear-gradient(top, #363A42 0%, #696969 100%);  
  background: -moz-linear-gradient(top, #363A42 0%, #696969 100%); 
  background: -webkit-linear-gradient(top, #363A42 0%,#696969 100%); 
}
#top2 ul:after {
  content: ""; 
  clear: both; 
  display: block;
}
#top2 ul li {
  float: left;
}
#top2 ul li:hover {
  background: #4b545f;

}
#top2 ul li:hover a {
  color: #fff;
}

#top2 ul li a {
  display: block;
  padding: 20px 10px 20px 10px;
  color: #EFF4F7;
  text-decoration: none;
  font-weight: bold; 
}
#top2 ul ul {
  background: #363A42;
  border-radius: 0px;
  padding: 0;
  position: absolute; top: 100%;
}
#top2 ul ul li {
float: none; 
border-top: 1px solid #6b727c;
border-bottom: 1px solid #575f6a;
position: relative;
}
#top2 ul ul li a {
  padding: 15px 40px;
  color: #fff;
} 
#top2 ul ul li a:hover {
  background: #4b545f;
}
#top2 ul ul ul {
  position: absolute; left: 100%; top:0;
}
#top3{
  position: relative;
  background-color: #363A42;
  width: 17.5%;
  height: 60px;
}
#toph{
  display:none;
}
#topside{
  position: absolute;
  background-color: #363A42;
  width: 17.5%;
  height: 100%;
  right: 0;
  z-index: -2;
}



#phead{
  font-size: 30px;
  margin-bottom: 0;
  font-family: impact;
  color: #555555;
}
#pbody{
  margin-top:0;
  font-family: Arial, sans-serif;
  color: #555555;
}
.body h2{
  text-transform: uppercase;
}
.body p{
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 1%;
  font-size: 18px;
  padding-bottom: 5px;
}
.body ul{
  margin-top: 0;
  margin-left: 3%;
  font-family: Arial, sans-serif;
  color: #555555;
  font-size: 18px;
}
.body ol{
  margin-top: 0;
  margin-left: 3%;
  font-family: Arial, sans-serif;
  color: #555555;
  font-size: 18px;
}
table{
  padding-left: 4%;
  font-family: Arial, sans-serif;
  color: #555555;
  font-size: 18px;
}
td{
  padding: 7px 7px 7px 7px;
  vertical-align: top;
  border-top: 1px black solid;
}

div.body{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex-1;
  float:left;
  height: 100%;
  z-index: -1;
}
#body1{
  position: relative;
  background-color: #FFD966;
  margin-top: 2%;
  width: 80%;
  margin-right: 20%;
}
#body2{
  position: relative;
  background-color: #6DD0F2;
  margin-top: 2%;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
}
#body3{
  position: relative;
  background-color: #F59ABE;
  margin-top: 2%;
  width: 80%;
  margin-right: 20%;
}
#body4{
  position: relative;
  background-color: #FFD966;
  margin-top: 2%;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
}
#body5{
  position: relative;
  background-color: #6DD0F2;
  margin-top: 2%;
  width: 80%;
  margin-right: 20%;
}
#body6{
  position: relative;
  background-color: #F59ABE;
  margin-top: 2%;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
}
#body7{
  position: relative;
  background-color: #FFD966;
  margin-top: 2%;
  width: 80%;
  margin-right: 20%;
}
#body8{
  position: relative;
  background-color: #6DD0F2;
  margin-top: 2%;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
}






div.footer{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex-1;
  float:left;
  height: 100px;
  margin-top: 2%;
}
.footer p{
  padding-left: 20px;
  color: white;

}
#footer1{
  background-color: #6DD0F2;
  width: 5%;
}
#footer2{
  background-color: #363A42;
  width: 25%;
}
#footer3{
  background-color: #F59ABE;
  width: 17.5%;
}
#footer4{
  background-color: #FFD966;
  width: 17.5%;
}
#footer5{
  background-color: #F59ABE;
  width: 17.5%;
}
#footer6{
  background-color: #363A42;
  width: 17.5%;
}


#side{
  position: fixed;
  margin-top: 18%;
  margin-left: 85%; 
}
#side ul{
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 2;
  display: block;
}
#side ul li{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
#side ul li a{
  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #363A42;
  border-bottom: 1px dotted #363A42;
  padding: 10px 30px;
  background-color: #EFF4F7;
  text-decoration: none;
  text-transform: uppercase;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #363A42;
}
#side ul li:first-child a{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}
#side ul li:last-child a{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
#side ul li a:hover{
  background-color: #D0D0D0;
}
#side_mobile{
  visibility: hidden;
}